# Pycharm file
*.idea

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# dotenv
.env

# Scrapy stuff:
.scrapy

# Django stuff:
*.log
local_settings.py

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

#Remove csv
*.csv
*.xml

merge.py
